footer{
    .f-d-mob {
        margin-left: 5vh;
        margin-right: 5vh;
        background-color: rgba($color: #fff, $alpha: 0.85);
    }
    text-align: center;
    p, li {
        color: $color-text-dark;
        font-size: 1em;
    }
    p {
        @extend p;
        font-size: 1em;
    }
    ul {
        list-style: none;
        padding-top: 5vh;
        padding-bottom: 5vh;
        text-align: center;

    li {
        color: $main-color-title;
        font-size: 1em;
        font-weight: bold;

        a {
            text-decoration: none;
            color: $main-color-title;
        }
      }
    }

    a {
        text-decoration: none;
        color: $color-text-dark;
        font-weight: bold;
    }

    .logoF {
        width: 128px;
        height: 128px;
        margin-top: 4vh;
        margin-bottom: 4vh;
    }

    .order-img {
        display: flex;
        flex-direction: column;
    }
}

.f-mob {
    background-image: url("../img/Pelouse.png");
}